<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men's Clothing</title>
    <!-- Link to mens.css for page-specific styles -->
    <link rel="stylesheet" href="/static/styles/mens.css">
    <!-- Link to shared main.css for global styles -->
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
    <header>
        <h1>Welcome to Stinky Fashion</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('all_products') }}">All Collection</a></li>
                <li><a href="{{ url_for('mens_products') }}">Men's Clothing</a></li>
                <li><a href="{{ url_for('womens_products') }}">Women's Clothing</a></li>
                <li><a href="{{ url_for('contact_details') }}">Contact Us</a></li>
            </ul>
        </nav>
    </header>

  <main>
    <section>
      {% if gender %}
      <h2>Explore Our {% if gender == 'm' %} M{% else %}Wom{% endif %}en's Collection</h2>
      {% else %}
      <h2>Explore Our Collection</h2>
      {% endif %}
      <!-- Add your men's clothing products here -->
      <div class="products">
        {% for product in products %}
        <div class="product">
          <img src="{% if product.images() %}{{ product.images()[0].url() }}{% endif %}" alt="{{ product.description }}">
          <h3 class="title">{{ product.title }}</h3>
          <p class="price">¢{{ product.price }}</p>
          <a class="button" href="{{ url_for('product', product_id=product.id) }}">Check it out</a>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>

    <footer>
        <p>&copy; 2024 Stinky Tailor</p>
    </footer>

    <!-- Optional JavaScript (not needed for this example) -->
    <!-- <script src="scripts/main.js"></script> -->

</body>
</html>
