/* Styles specific to mens.html */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700; /* Change color on hover */
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main section h2 {
    text-align: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /*border: 1px solid red;*/
}
.product {
    width: 300px;
    /*margin: 15px;*/
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.product:hover {
    transform: translateY(-5px); /* Lift product on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-content {
    padding: 20px;
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
